<header id="header">
	<div id="header-main" class="header-inner">
		<div class="outer">
			<a id="logo" href="/">
				<i class="logo"></i>
				<span class="site-title">
					<%= config.title %>
				</span>
			</a>
		</div>
	</div>
	<%- partial('./common/nav', {index: true}) %>
</header>